# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CVHOMEWORK\CV_Homework_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
